body {
  background: transparent;
  font-family: "Arial Black", sans-serif;
  color: #fff;
}

#container {
  padding: 15px;
  text-align: center;
}

h2 {
  color: #b30000;
  text-shadow: 0 0 15px #600000;
  font-size: 28px;
  font-weight: 900;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.tip-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 18px;
  margin-bottom: 10px;

  background: linear-gradient(to right, #1a0000, #330000);
  border-left: 5px solid #b30000;
  border-radius: 6px;

  font-size: 20px;
  font-weight: bold;

  box-shadow: 0 0 10px rgba(179, 0, 0, 0.6);
  letter-spacing: 1px;
}

.crown {
  font-size: 24px;
  margin-left: 8px;
  color: #b30000;
  text-shadow: 0 0 10px #ff0000;
}

/* BDSM BOOM EFFECT */
@keyframes boom {
  0%   { transform: scale(1);   filter: brightness(1); }
  30%  { transform: scale(1.30); filter: brightness(2); }
  100% { transform: scale(1);   filter: brightness(1); }
}
