body {
  margin: 0;
  padding: 0;
  background: transparent;
  overflow: hidden;
}

/* Contenedor general */
#overlay-frame {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* 🎄 Marco PNG alrededor */
.christmas-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

/* ❄️ Nieve cayendo */


@keyframes snowfall {
  0% { background-position: 0px 0px; }
  100% { background-position: 0px 1000px; }
}

/* 📷 Cuadro de cámara */
#camera-box {
  position: absolute;
  width: 70%;
  height: 70%;
  top: 15%;
  left: 15%;
  border-radius: 20px;
  pointer-events: none;
}
