body {
  background: transparent;
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  color: white;
}

#goal-title {
  font-size: 30px;
  margin-bottom: 10px;
  text-shadow: 0 0 10px #ff2a2a, 0 0 20px #ff0000;
}

/* Contenedor */
#goal-wrapper {
  position: relative;
  width: 90%;
  height: 48px;
  margin: auto;
  border-radius: 30px;
  overflow: hidden;
  background: rgba(255,255,255,0.15);
  border: 3px solid #ff3b3b;
  box-shadow: 0 0 20px rgba(255,0,0,0.6);
}

/* Barra roja animada */
#bar-fill {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, #7a0000, #ff1a1a ,#05831a);
  box-shadow: inset 0 0 15px rgba(255,255,255,0.7);
  transition: width 0.5s ease;
}

/* Partículas */
.particles {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

/* Partícula individual */
.particle {
  position: absolute;
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 50%;
  opacity: 0.9;
  animation: floatUp 1.2s ease-out forwards;
}

@keyframes floatUp {
  0% { transform: translateY(0) scale(1); opacity: 1; }
  100% { transform: translateY(-40px) scale(0); opacity: 0; }
}
