body {
  background: transparent;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

/* CONTENEDOR */
#goal-wrapper {
  position: relative;
  width: 80%;
  height: 50px;
  margin: auto;
  border-radius: 40px;
  overflow: hidden;

  background: rgba(120, 0, 0, 0.35);
  backdrop-filter: blur(8px);

  border: 1px solid rgba(255, 215, 0, 0.4);
  box-shadow:
    0 0 18px rgba(4, 202, 21, 0.63),
    inset 0 0 20px rgba(255, 255, 255, 0.15);
}


/* FILL VERDE */
#bar-fill {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;

  background:
    linear-gradient(
      90deg,
      #696b0b 0%,
      #909e0e 25%,
      #fbff1c 50%,
      #97950f 75%,
      #fdef21 100%
    );

  background-size: 200% 100%;
  animation: metalMove 4s linear infinite;

  box-shadow:
    inset 0 0 12px rgba(255,255,255,0.35),
    0 0 14px rgba(255, 251, 0, 0.8);

  transition: width 0.6s ease;
  z-index: 2;
}

@keyframes metalMove {
  from { background-position: 0% 0; }
  to   { background-position: 200% 0; }
}


/* TEXTO */
.goal-text {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 22px;
  font-weight: 900;
  letter-spacing: 2px;

  color: #ffffff;
  text-shadow:
    0 0 6px rgba(0,0,0,0.9);

  z-index: 3;
  pointer-events: none;
}


/* NEON CUANDO COMPLETA */
.neon {
  color: #ffffff;
  text-shadow:
    0 0 6px #1a7902,
    0 0 12px #3faa01,
    0 0 24px #5dce00,
    0 0 40px #44b900;
}

/* NIEVE */
.snow {
  position: absolute;
  inset: 0;
  z-index: 4;
  pointer-events: none;
}

.snow::before,
.snow::after {
  content: "";
  position: absolute;
  inset: -50px 0 0 0;
  background-image:
    radial-gradient(2px 2px at 5% 10%, white, transparent),
    radial-gradient(2px 2px at 15% 30%, white, transparent),
    radial-gradient(1.5px 1.5px at 30% 15%, white, transparent),
    radial-gradient(2px 2px at 45% 35%, white, transparent),
    radial-gradient(1.5px 1.5px at 60% 10%, white, transparent),
    radial-gradient(2px 2px at 75% 30%, white, transparent),
    radial-gradient(1.5px 1.5px at 90% 20%, white, transparent);
  opacity: 0.85;
  animation: snowFall 4s linear infinite;
}

.snow::after {
  opacity: 0.5;
  animation-duration: 7s;
}

@keyframes snowFall {
  from { transform: translateY(-50px); }
  to   { transform: translateY(140px); }
}


.goal-amount {
  margin-top: 8px;
  text-align: center;

  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;

  color: #f5d76e;
  text-shadow:
    0 0 8px rgba(255,215,0,0.5);
}

.neon {
  color: #ffffff;
  text-shadow:
    0 0 6px #000302,
    0 0 14px #e5ff00,
    0 0 28px #e5ff00,
    0 0 45px #d1c303;
}
